{{>layout/header}}

<div class="userinfo_category">
    <a href="/{{uid}}">
        <div class="userinfo_shortcuts">회원정보 수정</div>
    </a>
    <a href="/{{uid}}/review">
        <div class="userinfo_current">리뷰 관리</div>
    </a>
    <a href="/{{uid}}/like">
        <div class="userinfo_shortcuts">즐겨찾기 관리</div>
    </a>
</div>

<div class="userinfo_background">
    <div class="userinfo_title">작성한 리뷰</div>

    <table>
        <tbody>
        {{#reviews}}
            <tr>
                <td>{{body}}</td>
                <td>{{#store}}{{store_name}}{{/store}}</td>
                <td>
                    <button class="button" onclick="openModal()"
                            data-bs-toggle="modal"
                            data-bs-target="#review-edit-Modal"
                            data-bs-id="{{id}}"
                            data-bs-store="{{store}}"
                            data-bs-userid="{{userid}}"
                            data-bs-body="{{body}}">수정</button>
                    <button class="button review-delete-btn" data-review-id={{id}}>삭제</button>
                </td>
            </tr>
        {{/reviews}}
        </tbody>
    </table>
</div>

<script>
    // 모달 열기 함수
    function openModal() {
        document.getElementById("review-edit-Modal").style.display = "block";
    }
</script>

{{>layout/footer}}