<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<section layout:fragment="content">
    <div th:if="${user != null}">
        <div class="userinfo_title">
            <p>MY PAGE</p>
        </div>

        <div class="userinfo_category">
            <p th:onclick="'window.location.href=\'/' + ${user.uid} + '\''" class="userinfo_category_link active">회원정보
                                                                                                                  수정</p>
            <p th:onclick="'window.location.href=\'/' + ${user.uid} + '/review\''" class="userinfo_category_link">리뷰
                                                                                                                  관리</p>
            <p th:onclick="'window.location.href=\'/api/' + ${user.uid} + '/like\''" class="userinfo_category_link">즐겨찾기
                                                                                                                    관리</p>
            <p th:onclick="'window.location.href=\'/' + ${user.uid} + '/reservation\''" id="reserve"
               class="userinfo_reservation">예약 관리</p>
        </div>

        <div class="userinfo_background">
            <h1>예약 목록</h1>

            <ul>
                {{#reservation}}
                <li>
                    <span>{{store}}</span> |
                    <span>{{reservationDate}}</span>
                </li>
                {{/reservation}}
            </ul>
        </div>
    </div>

    <script>
        const links = document.querySelectorAll('.userinfo_category_link');

        // 클릭 이벤트 추가
        links.forEach(link => {
            link.addEventListener('click', () => {
                // 모든 링크의 active 클래스 제거
                links.forEach(l => l.classList.remove('active'));
                // 클릭된 링크에 active 클래스 추가
                link.classList.add('active');
            });
        });
    </script>
</section>
</body>
</html>
