<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="user=${user}"
      layout:decorate="~{layout/layout}">
<body>

<div class="userinfo_title">
    <p>MY PAGE</p>
</div>

<div class="userinfo_category">
    <p th:onclick="|window.location.href='/${user.uid}'|" class="userinfo_category_link">회원정보 수정</p>
    <p th:onclick="|window.location.href='/${user.uid}/review'|" class="userinfo_category_link">리뷰 관리</p>
    <p th:onclick="|window.location.href='/api/${user.uid}/like'|" class="userinfo_category_link active">즐겨찾기 관리</p>
    <p th:onclick="'window.location.href=\'/' + ${user.uid} + '/reservation\''" id="reserve" class="userinfo_reservation">예약 관리</p>
</div>

<div class="userinfo_background_like">
    <table class="userinfo_review_table">
        <tbody>
        <tr th:each="store : ${store}">
            <td style="width:20%">
                <p th:onclick="|window.location.href='/rest/${store.id}/${user.uid}'|"
                   th:text="${store.store_name}"></p>
            </td>
            <td style="width:80%" th:text="${store.store_address}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    const links = document.querySelectorAll('.userinfo_category_link');

    // 클릭 이벤트 추가
    links.forEach(link => {
        link.addEventListener('click', () => {
            // 모든 링크의 active 클래스 제거
            links.forEach(l => l.classList.remove('active'));
            // 클릭된 링크에 active 클래스 추가
            link.classList.add('active');
        });
    });
</script>

</body>
</html>
