<div class="footer">
    <!--site info-->
    <a href="https://github.com/bogyeom0922/EatToday">Git</a> | <a
        href="https://www.notion.so/Team-Project-b0df429aa1584c4b8dfc6742be384227?pvs=4">Notion</a>
</div>
