{{>layout/header}}

{{#randomStore1}}<img src="{{store_img}}">{{/randomStore1}} <!--randomStore라는 모델에 값 담아 출력할 예정-->
{{#randomStore2}}<img src="{{store_img}}">{{/randomStore2}}
{{#randomStore3}}<img src="{{store_img}}">{{/randomStore3}}

{{>layout/footer}}