{{>layouts/detail_header}}

<div class="background"></div>
<img src="/img/sample.jpeg" class="rest_img">
<div class="background2"></div>

<div class="store_name">
    {{#rest}}{{store_name}}{{/rest}}
</div>
<div class="subtitle">
    별점 4.5&emsp;&emsp;&emsp;&emsp;리뷰 3개
</div>

<div class="rest_detail">
    {{#rest}}
        주소&emsp; : {{store_address}}<br>
        대표번호: {{store_phone}}<br>
        별점&emsp; : {{store_star}}<br>
        {{store_time}}<br>
    {{/rest}}
</div>



{{>layouts/footer}}