<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css?after" rel="stylesheet">
    <title>Restaurant details</title>
</head>
<body>
<!--    model 'rest'에 매장 상세 정보 등록하여 출력-->
    {{#rest}}
        매장 사진: <img src="{{store_img}}"><br>
        매장 이름: {{store_name}}<br>
        영업시간: {{store_time}}<br>
        주소: {{store_address}}<br>
        대표번호: {{store_phone}}<br>
        별점: {{store_star}}<br>
        <div id="menu">
        {{store_menu}}
        </div>
        <div id="Display"></div>
        리뷰: {{review_content}}
    {{/rest}}
<script type="text/javascript">

    const str = document.getElementById("menu").textContent; //div 내용 가져옴
    const arrs = str.split(", ");

    const Display = document.getElementById("Display"); // 문장을 표시할 div 가져옴

    arrs.forEach(arr => { // 배열 요소 반복하면서 화면에 출력
        const br = document.createElement("br"); // br 생성
        Display.append(arr.trim(), br); // 문장, br 추가
    });

</script>
</body>

</html>