<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<section layout:fragment="content">

<div class="store_list_title">
    <p>STORE</p>
</div>

<div class="store_list_body">
    <div class="options-wrapper">
        <button id="regionToggleButton" class="toggle-button">지역 선택</button>
        <div id="regionOptionsContainer" class="options-container" style="display: none;">
            <div class="option-item"><a th:href="@{/storelist/{uid}(uid=${uid})}">전체보기</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-마포구(uid=${uid})}">마포구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-서대문구(uid=${uid})}">서대문구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-은평구(uid=${uid})}">은평구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-종로구(uid=${uid})}">종로구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-중구(uid=${uid})}">중구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-용산구(uid=${uid})}">용산구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-성동구(uid=${uid})}">성동구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-광진구(uid=${uid})}">광진구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-동대문구(uid=${uid})}">동대문구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-성북구(uid=${uid})}">성북구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-강북구(uid=${uid})}">강북구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-도봉구(uid=${uid})}">도봉구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-노원구(uid=${uid})}">노원구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-중랑구(uid=${uid})}">중랑구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-강동구(uid=${uid})}">강동구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-송파구(uid=${uid})}">송파구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-강남구(uid=${uid})}">강남구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-서초구(uid=${uid})}">서초구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-관악구(uid=${uid})}">관악구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-동작구(uid=${uid})}">동작구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-영등포구(uid=${uid})}">영등포구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-금천구(uid=${uid})}">금천구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-구로구(uid=${uid})}">구로구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-양천구(uid=${uid})}">양천구</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/region-강서구(uid=${uid})}">강서구</a></div>
        </div>
    </div>

    <div class="options-wrapper">
        <button id="menuToggleButton" class="toggle-button">메뉴 선택</button>
        <div id="menuOptionsContainer" class="options-container" style="display: none;">
            <div class="option-item"><a th:href="@{/storelist/{uid}(uid=${uid})}">전체보기</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-백반(uid=${uid})}">백반</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-국밥(uid=${uid})}">국밥</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-찌개(uid=${uid})}">찌개</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-전골(uid=${uid})}">전골</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-쌈밥(uid=${uid})}">쌈밥</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-조림(uid=${uid})}">조림</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-찜(uid=${uid})}">찜</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-도시락(uid=${uid})}">도시락</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-죽(uid=${uid})}">죽</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-전(uid=${uid})}">전</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-분식(uid=${uid})}">분식</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-곱창(uid=${uid})}">곱창</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-족발(uid=${uid})}">족발</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-보쌈(uid=${uid})}">보쌈</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-치킨(uid=${uid})}">치킨</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-갈비(uid=${uid})}">갈비</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-소고기(uid=${uid})}">소고기</a></div>
            <div class="option-item"><a th:href="@{/storelist/filter/{uid}/category-삼겹살(uid=${uid})}">삼겹살</a></div>
        </div>
    </div>

    <!--매장 목록-->
    <div class="store_list">
        <table>
            <tbody id="tbody">
            <tr th:each="store : ${list}">
                <td style="width:7%"><img th:src="@{${store.store_img}}" /></td>
                <td style="width:22%"><a th:href="@{/rest/{id}/{uid}(id=${store.id}, uid=${uid})}" th:text="${store.store_name}"></a></td>
                <td style="width:47%" th:text="${store.store_time}"></td>
                <td style="width:18%" th:text="${store.store_phone}"></td>
                <td style="width:6%" th:text="${store.store_star}"></td>
            </tr>
            </tbody>
        </table>
        <div class="next">
            <a th:if="${hasPrev}" th:href="@{?page={previous}&(previous=${previous})}" role="button" class="btn btn-lg bi bi-caret-left-square-fill">이전</a>
            <a th:if="${!hasPrev}" th:href="@{?page={previous}(previous=${previous})}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
            <a th:if="${hasNext}" th:href="@{?page={next}(next=${next})}" role="button" class="btn btn-lg bi bi-caret-right-square-fill">다음</a>
            <a th:if="${!hasNext}" th:href="@{?page={next}(next=${next})}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
        </div>
    </div>
</div>
<script src="/js/store/storelist.js"></script>
</section>
</body>
</html>