<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<section layout:fragment="content">


<div class="store_list_title">
    <p>STORE</p>
</div>

<div class="store_list_body">
    <div class="options-wrapper">
        <button id="regionToggleButton" class="toggle-button">지역 선택</button>
        <div id="regionOptionsContainer" class="options-container" style="display: none;">
            <div class="option-item"><a href="/storelist/{{uid}}">전체보기</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-마포구">마포구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-서대문구">서대문구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-은평구">은평구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-종로구">종로구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-중구">중구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-용산구">용산구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-성동구">성동구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-광진구">광진구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-동대문구">동대문구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-성북구">성북구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-강북구">강북구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-도봉구">도봉구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-노원구">노원구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-중랑구">중랑구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-강동구">강동구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-송파구">송파구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-강남구">강남구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-서초구">서초구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-관악구">관악구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-동작구">동작구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-영등포구">영등포구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-금천구">금천구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-구로구">구로구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-양천구">양천구</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/region-강서구">강서구</a></div>
        </div>
    </div>

    <div class="options-wrapper">
        <button id="menuToggleButton" class="toggle-button">메뉴 선택</button>
        <div id="menuOptionsContainer" class="options-container" style="display: none;">
            <div class="option-item"><a href="/storelist/{{uid}}">전체보기</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-백반">백반</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-국밥">국밥</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-찌개">찌개</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-전골">전골</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-쌈밥">쌈밥</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-조림">조림</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-찜">찜</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-도시락">도시락</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-죽">죽</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-전">전</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-분식">분식</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-곱창">곱창</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-족발">족발</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-보쌈">보쌈</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-치킨">치킨</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-갈비">갈비</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-소고기">소고기</a></div>
            <div class="option-item"><a href="/storelist/filter/{{uid}}/category-삼겹살">삼겹살</a></div>
        </div>
    </div>

    <!--매장 목록-->
    <div class="store_list">
        <table>
            <tbody id="tbody">
            {{#filterList}}
                <tr>
                    <td style="width:7%"><img src="{{store_img}}"></td>
                    <td style="width:22%"><a href="/rest/{{id}}/{{uid}}">{{store_name}}</a></td>
                    <td style="width:47%">{{store_time}}</td>
                    <td style="width:18%">{{store_phone}}</td>
                    <td style="width:6%">{{store_star}}</td>
                </tr>
            {{/filterList}}
            </tbody>
        </table>

        {{! Page }}
        <div class="next">
            {{#hasPrev}}
                <a href="?page={{previous}}" role="button" class="btn btn-lg bi
                bi-caret-left-square-fill">이전</a>{{/hasPrev}}
            {{^hasPrev}}
                <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill
                disabled"></a>{{/hasPrev}}
            {{#hasNext}}
                <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill">다음</a>
            {{/hasNext}}
            {{^hasNext}}
                <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
            {{/hasNext}}
        </div>
    </div>
</div>
<script src="/js/store/storelist.js"></script>
</section>
</body>
</html>