<html  lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--/*@thymesVar id="message" type=""*/-->

<h1>비밀번호 찾기</h1>

<form action = "/user/findpassword" method="post">
    <div class="mb-3">
        <label for="uid" class="form-label">id</label>
        <input type="text" class="form-control" name="uid" placeholder="아이디를 입력하세요.">
    </div>

    <button type="submit" class="btn btn-primary">찾기</button>
</form>
<form action = "/user/login">
    <button type="submit">Sign in</button>
</form>



</body>
</html>