{{>layouts/detail_header}}

<div class="mypage_category">
    <a href=""><div class="mypage_shortcuts">회원정보 수정</div></a>
    <a href=""><div class="mypage_shortcuts">리뷰 관리</div></a>
    <a href=""><div class="mypage_shortcuts">즐겨찾기 관리</div></a>
</div>


{{>layouts/footer}}