<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> welcome Eattoday!</h1>

<form action = "/user/Signup" method="post"><!-- post로 데이터 생성, action = Eattoday 이동-->
    <div class="mb-3">
        <label for="uid" class="form-label">id</label>
        <input type="uid" class="form-control" name="uid"><!-- 여기서 name은 dto 필드와 동일하게-->
    </div>
    <div class="mb-3">
        <label for="upassword" class="form-label">Password</label>
        <input type="upassword" class="form-control" name="upassword">
    </div>
    <div class="mb-3">
        <label for="nickname" class="form-label">Nickname</label>
        <input type="nickname" class="form-control" name="uname">
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

</body>
</html>