{{>layout/header}}

<div class="userinfo_category">
    <a href=""><div class="userinfo_current">회원정보 수정</div></a>
    <a href=""><div class="userinfo_shortcuts">리뷰 관리</div></a>
    <a href=""><div class="userinfo_shortcuts">즐겨찾기 관리</div></a>
</div>

<div class="userinfo_background">
</div>

{{>layout/footer}}