{{>layouts/detail_header}}

<div class="recommend">
    Today's recommended restaurant
</div>

<div class="recommend_rest">
    <table>
        <tr>
            <div>
            <td style="width:33%">{{#randomStore1}}<img src="/img/sample.jpeg" width="100%">{{/randomStore1}}</td>
            <td style="width:33%">{{#randomStore1}}<img src="/img/sample.jpeg" width="100%">{{/randomStore1}}</td>
            <td style="width:33%">{{#randomStore1}}<img src="/img/sample.jpeg" width="100%">{{/randomStore1}}</td>
            </div>
        </tr>
        <tr>
            <td>{{#randomStore1}}{{store_name}}{{/randomStore1}}</td>
            <td>{{#randomStore2}}{{store_name}}{{/randomStore2}}</td>
            <td>{{#randomStore3}}{{store_name}}{{/randomStore3}}</td>
        </tr>
    </table>
</div>



<a href="storelist">백반</a>
</body>
</html>