<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<h2>매장 정보</h2>
<form action="/storelist/filter" method="GET" class="form-inline p-2 bd-highlight" role="search">
    <select name = "search-option">
        <option value = "region">지역</option>
        <option value = "category">카테고리</option>
    </select>
    <input type="text" name="search" class="form-control" id="search" placeholder="검색">
    <button class="btn btn-success bi bi-search">

    </button>
</form>

<div>
    <table>
        <thead class="Store">
        <tr>
            <th>id</th>
            <th>카테고리</th>
            <th>주소</th>
            <th>이미지</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>별점</th>
            <th>시간</th>
            <th>리뷰</th>
            <th>메뉴</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#filterList}}
            <tr>
                <td>{{id}}</td>
                <td>{{category}}</td>
                <td>{{store_address}}</td>
                <td>{{store_img}}</td>
                <td>{{store_name}}</td>
                <td>{{store_phone}}</td>
                <td>{{store_star}}</td>
                <td>{{store_time}}</td>
                <td>{{review_content}}</td>
                <td>{{store_menu}}</td>
            </tr>
        {{/filterList}}
        </tbody>
    </table>

    {{! Page }}
    <div class="pagination justify-content-center">
{{#hasPrev}}
    <a href="/storelist/filter?search={{keyword}}&page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill">이전</a>{{/hasPrev}}
    {{^hasPrev}}
    <a href="/storelist/filter?search={{keyword}}&page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>{{/hasPrev}}
    {{#hasNext}}
    <a href="/storelist/filter?search={{keyword}}&page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill">다음</a>
{{/hasNext}}
    {{^hasNext}}
    <a href="/storelist/filter?search={{keyword}}&page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
{{/hasNext}}
</div>
</div>
</body>
</html>